<div class="introduccion">
    <h1>LA LIBRERIA DE EMMA</h1>
    <p>Un rincon ppara disfrutar y obtener informacion sobre las mejores recomendaciones literarias del momento</p>
</div>
<app-carrusel></app-carrusel>

<div class="novedades">
    <a class="imagenSeccion" routerLink="/intercambio-de-libros">
        Intercambio de Libros
        <img src="https://i.blogs.es/aa76de/libro/840_560.jpg" alt="intercambio-de-libros">
    </a>
    <a class="imagenSeccion" routerLink="/club-de-lectura">
        Club De Lectura
        <img src="https://estaticos.muyhistoria.es/media/cache/1140x_thumb/uploads/images/gallery/5ad871a95bafe8bd653c986a/libros.jpg" alt="club-de-lectura" >
    </a>
    <a class="imagenSeccion">
        Autor Estrella del momento
        <img src="https://es.babelio.com/users/AVT_Colleen-Hoover_398.jpg" alt="Autor estrella del momento" >
        <p>COOLLEN HOOVER</p>
    </a>
</div>