h1,
h2,
h3,
h4,
h5,
h6 { 
    text-align: center;
}

h4:hover{
    text-decoration: underline;
    transition: text-decoration 5ms ease-out;
}

.cuerpo{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 30px 10px;
}